<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moida.mapper.UserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.moida.request.SingUpRequest">
        insert into user(user_id, password, email, name, nickname, birth, profile_image_path, created_at, updated_at)
        values (#{userId}, #{password}, #{email}, #{name}, #{nickname}, #{birth}, #{profileImagePath}, NOW(),
                NOW())
    </insert>

    <update id="update" parameterType="com.moida.request.UpdateUserRequest">
        UPDATE user
        SET name               = #{name},
            nickname           = #{nickname},
            birth              = #{birth},
            profile_image_path = #{profileImagePath},
            updated_at         = NOW()
        WHERE user_id = #{userId}
    </update>


    <select id="findByUserId" parameterType="String" resultType="com.moida.domain.User">
        select id,
               user_id,
               password,
               email,
               name,
               nickname,
               birth,
               profile_image_path,
               created_at,
               updated_at
        from user
        WHERE user_id = #{user_id}
    </select>

    <select id="findByUserEmail" parameterType="String" resultType="com.moida.domain.User">
        select id,
               user_id,
               password,
               email,
               name,
               nickname,
               birth,
               profile_image_path,
               created_at,
               updated_at
        from user
        WHERE email = #{email}
    </select>

    <delete id="delete" parameterType="String">
        DELETE
        FROM user
        WHERE user_id = #{user_id}
    </delete>

    <select id="findUserList" resultType="com.moida.domain.User">
        SELECT *
        FROM user;
    </select>

</mapper>
